ADMIN_EMAIL='example@gmail.com'
ADMIN_NAME='Alejandro'
ADMIN_PASSWORD='supersecret-password'

BETTER_AUTH_SECRET='secret' # openssl rand -base64 32

DATABASE_URL='postgresql://[user]:[password]@[host]:54322/[database]'


ORIGIN='https://example.com'
